In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

%matplotlib inline

<p>Suppose you are a data scientist working on a project for an insurance company that is trying to understand how the characteristics of a car could impact its price.</p> 

<p>To perform the task, you received a dataset containing 205 observations representing cars with 26 variables defining its characteristics. This dataset was downloaded from the University of California, Irvine Machine Learning repository (the original file and description can be downloaded at https://archive.ics.uci.edu/ml/datasets/automobile)</p>

<p>You also received a description of the dataset including the definition of each variable.
Your manager asked you to build a model that implements machine learning linear regression on the received data. To get the work done, she asked you to: </p>

<p>1) Read the dataset and perform an Exploratory Data Analysis</p>
<ol style = "list-style-type: lower-alpha;">
    <li> Read the file</li>
    <li>Check the column names and first rows</li>
    <li>Check for missing values</li>
    <li>Check the datatypes</li>
</ol>

In [3]:
df = pd.read_csv("automobile.csv")

In [4]:
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [6]:
df.gas.isnull().any()

False

In [7]:
df.isnull().any()

3              False
?              False
alfa-romero    False
gas            False
std            False
two            False
convertible    False
rwd            False
front          False
88.60          False
168.80         False
64.10          False
48.80          False
2548           False
dohc           False
four           False
130            False
mpfi           False
3.47           False
2.68           False
9.00           False
111            False
5000           False
21             False
27             False
13495          False
dtype: bool

In [8]:
df.dtypes

3                int64
?               object
alfa-romero     object
gas             object
std             object
two             object
convertible     object
rwd             object
front           object
88.60          float64
168.80         float64
64.10          float64
48.80          float64
2548             int64
dohc            object
four            object
130              int64
mpfi            object
3.47            object
2.68            object
9.00           float64
111             object
5000            object
21               int64
27               int64
13495           object
dtype: object

<p>2) Read the dataset again, specifying that the dataset doesn't have a header row, indicating the column names
and the correct interpretation of missing data</p>
<ol style = "list-style-type: lower-alpha;">
    <li>Read the file</li>
    <li>Check the column names and first rows</li>
    <li>Check for missing values</li>
    <li>Check the datatypes</li>
    <li>Analyze the categorical data </li>
</ol>

In [10]:
column_names = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors', 'body_style', \
                'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 'height', 'curb_weight', \
                'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke', \
                'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']

df = pd.read_csv("automobile.csv", header = None, names = column_names, na_values = '?')

In [11]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [12]:
df.isnull().any()

symboling            False
normalized_losses     True
make                 False
fuel_type            False
aspiration           False
num_of_doors          True
body_style           False
drive_wheels         False
engine_location      False
wheel_base           False
length               False
width                False
height               False
curb_weight          False
engine_type          False
num_of_cylinders     False
engine_size          False
fuel_system          False
bore                  True
stroke                True
compression_ratio    False
horsepower            True
peak_rpm              True
city_mpg             False
highway_mpg          False
price                 True
dtype: bool

In [14]:
df[df.columns[df.isnull().any()].tolist()].isnull().sum()

normalized_losses    41
num_of_doors          2
bore                  4
stroke                4
horsepower            2
peak_rpm              2
price                 4
dtype: int64

In [15]:
df[df.isnull().any(axis = 1)][df.columns[df.isnull().any()].tolist()]

,normalized_losses,num_of_doors,bore,stroke,horsepower,peak_rpm,price
0,NaN,two,3.47,2.68,111.0,5000.0,13495.0
1,NaN,two,3.47,2.68,111.0,5000.0,16500.0
2,NaN,two,2.68,3.47,154.0,5000.0,16500.0
5,NaN,two,3.19,3.40,110.0,5500.0,15250.0
7,NaN,four,3.19,3.40,110.0,5500.0,18920.0
9,NaN,two,3.13,3.40,160.0,5500.0,NaN
14,NaN,four,3.31,3.19,121.0,4250.0,24565.0
15,NaN,four,3.62,3.39,182.0,5400.0,30760.0
16,NaN,two,3.62,3.39,182.0,5400.0,41315.0
17,NaN,four,3.62,3.39,182.0,5400.0,36880.0
27,148.0,NaN,3.03,3.39,102.0,5500.0,8558.0
43,NaN,four,3.31,3.23,78.0,4800.0,6785.0
44,NaN,two,3.03,3.11,70.0,5400.0,NaN
45,NaN,four,3.03,3.11,70.0,5400.0,NaN
46,NaN,two,3.43,3.23,90.0,5000.0,11048.0
48,NaN,four,3.63,4.17,176.0,4750.0,35550.0
49,NaN,two,3.54,2.76,262.0,5000.0,36000.0
55,150.0,two,NaN,NaN,101.0,6000.0,10945.0
56,150.0,two,NaN,NaN,101.0,6000.0,11845.0
57,150.0,two,NaN,NaN,101.0,6000.0,13645.0
58,150.0,two,NaN,NaN,135.0,6000.0,15645.0
63,NaN,NaN,3.39,3.39,64.0,4650.0,10795.0
66,NaN,four,3.43,3.64,72.0,4200.0,18344.0
71,NaN,four,3.46,3.10,155.0,4750.0,34184.0
73,NaN,four,3.80,3.35,184.0,4500.0,40960.0
74,NaN,two,3.80,3.35,184.0,4500.0,45400.0
75,NaN,two,3.78,3.12,175.0,5000.0,16503.0
82,NaN,two,3.58,3.86,145.0,5000.0,12629.0
83,NaN,two,3.59,3.86,145.0,5000.0,14869.0
84,NaN,two,3.59,3.86,145.0,5000.0,14489.0
109,NaN,four,3.46,3.19,97.0,5000.0,12440.0
110,NaN,four,3.70,3.52,95.0,4150.0,13860.0
113,NaN,four,3.46,2.19,95.0,5000.0,16695.0
114,NaN,four,3.70,3.52,95.0,4150.0,17075.0
124,NaN,two,3.59,3.86,145.0,5000.0,12764.0
126,NaN,two,3.74,2.90,207.0,5900.0,32528.0
127,NaN,two,3.74,2.90,207.0,5900.0,34028.0
128,NaN,two,3.74,2.90,207.0,5900.0,37028.0
129,NaN,two,3.94,3.11,288.0,5750.0,NaN
130,NaN,four,3.46,3.90,NaN,NaN,9295.0
131,NaN,two,3.46,3.90,NaN,NaN,9895.0
181,NaN,four,3.27,3.35,156.0,5200.0,15750.0
189,NaN,two,3.19,3.40,90.0,5500.0,11595.0
191,NaN,four,3.19,3.40,110.0,5500.0,13295.0
192,NaN,four,3.01,3.40,68.0,4500.0,13845.0
193,NaN,four,3.19,3.40,88.0,5500.0,12290.0

In [16]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [17]:
df.make.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [18]:
df.fuel_type.unique()

array(['gas', 'diesel'], dtype=object)

In [19]:
df.fuel_system.unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

<p>3) Remove unused columns</p>

In [20]:
df.drop(['make', 'symboling', 'normalized_losses'], axis = 1, inplace = True)

In [21]:
df.head()

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

<p>4) Deal with missing data</p>
<ol style = "list-style-type: lower-alpha;">
    <li>num_of_doors column</li>
    <li>bore column</li>
    <li>stroke column</li>
    <li>horsepower column</li>
    <li>peak_rpm column</li>
    <li>price column </li>

In [22]:
df[df.num_of_doors.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
27,gas,turbo,NaN,sedan,fwd,front,93.7,157.3,63.8,50.6,...,98,mpfi,3.03,3.39,7.6,102.0,5500.0,24,30,8558.0
63,diesel,std,NaN,sedan,fwd,front,98.8,177.8,66.5,55.5,...,122,idi,3.39,3.39,22.7,64.0,4650.0,36,42,10795.0

In [23]:
df.num_of_doors[df.body_style == 'sedan'].value_counts()

four    79
two     15
Name: num_of_doors, dtype: int64

In [24]:
df.loc[27, 'num_of_doors'] = 'four'
df.loc[63, 'num_of_doors'] = 'four'

In [25]:
df[df.num_of_doors.isnull()]

Empty DataFrame
Columns: [fuel_type, aspiration, num_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, num_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price]
Index: []

[0 rows x 23 columns]

In [26]:
df[df.bore.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,10945.0
56,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,11845.0
57,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
58,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,80,mpfi,NaN,NaN,9.4,135.0,6000.0,16,23,15645.0

In [27]:
df.bore.fillna(df.bore.mean(), inplace = True)

In [28]:
df[df.bore.isnull()]

Empty DataFrame
Columns: [fuel_type, aspiration, num_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, num_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price]
Index: []

[0 rows x 23 columns]

In [29]:
df.stroke.fillna(df.stroke.mean(), inplace = True)

In [30]:
df.horsepower.fillna(df.horsepower.mean(), inplace = True)

In [31]:
df.peak_rpm.fillna(df.peak_rpm.mean(), inplace = True)

In [32]:
df.drop(df[df.price.isnull()].index, axis = 0, inplace = True)

In [33]:
df.head()

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [34]:
df[df.columns[df.isnull().any()].tolist()].isnull().sum()

Series([], dtype: float64)

<p>5) Deal with categorical columns</p>
<ol style = "list-style-type: lower-alpha;">
    <li>num_of_cylinders column</li>
    <li>Other categorical columns </li>
</ol>

In [35]:
df.num_of_cylinders.value_counts()

four      157
six        24
five       10
eight       4
two         4
twelve      1
three       1
Name: num_of_cylinders, dtype: int64

In [36]:
df.loc[df.index[df.num_of_cylinders == 'four'], 'num_of_cylinders'] = 4
df.loc[df.index[df.num_of_cylinders == 'six'], 'num_of_cylinders'] = 6
df.loc[df.index[df.num_of_cylinders == 'five'], 'num_of_cylinders'] = 5
df.loc[df.index[df.num_of_cylinders == 'eight'], 'num_of_cylinders'] = 8
df.loc[df.index[df.num_of_cylinders == 'two'], 'num_of_cylinders'] = 2
df.loc[df.index[df.num_of_cylinders == 'twelve'], 'num_of_cylinders'] = 12
df.loc[df.index[df.num_of_cylinders == 'three'], 'num_of_cylinders'] = 3

In [38]:
df.dtypes

fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [39]:
df.num_of_cylinders = df.num_of_cylinders.astype('int')

In [40]:
df.dtypes

fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders       int32
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [41]:
cat_columns = ['fuel_type', 'fuel_system', 'aspiration', 'num_of_doors', 'body_style', 'drive_wheels', \
              'engine_location', 'engine_type']

In [42]:
df = pd.get_dummies(df, columns = cat_columns, drop_first = True)

In [43]:
df.head()

,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,...,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd,engine_location_rear,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,engine_type_rotor
0,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,...,0,0,0,1,0,0,0,0,0,0
1,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,...,0,0,0,1,0,0,0,0,0,0
2,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,9.0,...,0,0,0,1,0,0,0,0,1,0
3,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,10.0,...,1,0,1,0,0,0,1,0,0,0
4,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.40,8.0,...,1,0,0,0,0,0,1,0,0,0

<p>6) Split your data into train (80%) and test (20%) data, and separate the dependent variables of the independent
variables</p>
<ol style = "list-style-type: lower-alpha;">
    <li>Split the original data into train and test datasets</li>
    <li>Separate your dependent variable of the training data</li>
    <li>Separate your dependent variable of the test data </li>
</ol>

In [44]:
train, test = train_test_split(df, test_size = 0.2)

In [46]:
train

,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,...,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd,engine_location_rear,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,engine_type_rotor
68,110.0,190.9,70.3,58.7,3750,5,183,3.58,3.64,21.5,...,0,1,0,1,0,0,1,0,0,0
91,94.5,165.3,63.8,54.5,1918,4,97,3.15,3.29,9.4,...,1,0,1,0,0,0,1,0,0,0
151,95.7,158.7,63.6,54.5,2040,4,92,3.05,3.03,9.0,...,0,0,1,0,0,0,1,0,0,0
64,98.8,177.8,66.5,55.5,2425,4,122,3.39,3.39,8.6,...,0,0,1,0,0,0,1,0,0,0
127,89.5,168.9,65.0,51.6,2756,6,194,3.74,2.90,9.5,...,0,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,103.5,189.0,66.9,55.7,3055,6,164,3.31,3.19,9.0,...,1,0,0,1,0,0,1,0,0,0
11,101.2,176.8,64.8,54.3,2395,4,108,3.50,2.80,8.8,...,1,0,0,1,0,0,1,0,0,0
158,95.7,166.3,64.4,53.0,2275,4,110,3.27,3.35,22.5,...,1,0,1,0,0,0,1,0,0,0
155,95.7,169.7,63.6,59.1,3110,4,92,3.05,3.03,9.0,...,0,1,0,0,0,0,1,0,0,0
99,97.2,173.4,65.2,54.7,2324,4,120,3.33,3.47,8.5,...,0,0,1,0,0,0,1,0,0,0

In [47]:
test

,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,...,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd,engine_location_rear,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,engine_type_rotor
144,97.0,172.0,65.4,54.3,2385,4,108,3.62,2.64,9.0,...,1,0,0,0,0,0,0,1,0,0
193,100.4,183.1,66.9,55.1,2563,4,109,3.19,3.40,9.0,...,0,1,1,0,0,0,1,0,0,0
186,97.3,171.7,65.5,55.7,2275,4,109,3.19,3.40,9.0,...,1,0,1,0,0,0,1,0,0,0
108,107.9,186.7,68.4,56.7,3197,4,152,3.70,3.52,21.0,...,1,0,0,1,0,1,0,0,0,0
66,104.9,175.0,66.1,54.4,2700,4,134,3.43,3.64,22.0,...,1,0,0,1,0,0,1,0,0,0
47,113.0,199.6,69.6,52.8,4066,6,258,3.63,4.17,8.1,...,1,0,0,1,0,0,0,0,0,0
162,95.7,166.3,64.4,52.8,2140,4,98,3.19,3.03,9.0,...,1,0,1,0,0,0,1,0,0,0
135,99.1,186.6,66.5,56.1,2758,4,121,3.54,3.07,9.3,...,1,0,1,0,0,0,1,0,0,0
70,115.6,202.6,71.7,56.3,3770,5,183,3.58,3.64,21.5,...,1,0,0,1,0,0,1,0,0,0
200,109.1,188.8,68.9,55.5,2952,4,141,3.78,3.15,9.5,...,1,0,0,1,0,0,1,0,0,0
3,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,10.0,...,1,0,1,0,0,0,1,0,0,0
36,96.5,157.1,63.9,58.3,2024,4,92,2.92,3.41,9.2,...,0,1,1,0,0,0,1,0,0,0
143,97.2,172.0,65.4,52.5,2340,4,108,3.62,2.64,9.0,...,1,0,1,0,0,0,0,1,0,0
81,96.3,173.0,65.4,49.4,2328,4,122,3.35,3.46,8.5,...,0,0,1,0,0,0,1,0,0,0
62,98.8,177.8,66.5,55.5,2410,4,122,3.39,3.39,8.6,...,1,0,1,0,0,0,1,0,0,0
93,94.5,170.2,63.8,53.5,2024,4,97,3.15,3.29,9.4,...,0,1,1,0,0,0,1,0,0,0
87,96.3,172.4,65.4,51.6,2403,4,110,3.17,3.46,7.5,...,1,0,1,0,0,0,1,0,0,0
150,95.7,158.7,63.6,54.5,1985,4,92,3.05,3.03,9.0,...,0,0,1,0,0,0,1,0,0,0
106,99.2,178.5,67.9,49.7,3139,6,181,3.43,3.27,9.0,...,0,0,0,1,0,0,0,0,1,0
60,98.8,177.8,66.5,55.5,2410,4,122,3.39,3.39,8.6,...,1,0,1,0,0,0,1,0,0,0
90,94.5,165.3,63.8,54.5,2017,4,103,2.99,3.47,21.9,...,1,0,1,0,0,0,1,0,0,0
102,100.4,184.6,66.5,56.1,3296,6,181,3.43,3.27,9.0,...,0,1,1,0,0,0,0,0,1,0
20,94.5,158.8,63.6,52.0,1909,4,90,3.03,3.11,9.6,...,1,0,1,0,0,0,1,0,0,0
173,102.4,175.6,66.5,54.9,2326,4,122,3.31,3.54,8.7,...,1,0,1,0,0,0,1,0,0,0
19,94.5,155.9,63.6,52.0,1874,4,90,3.03,3.11,9.6,...,0,0,1,0,0,0,1,0,0,0
125,94.5,168.9,68.3,50.2,2778,4,151,3.94,3.11,9.5,...,0,0,0,1,0,0,1,0,0,0
59,98.8,177.8,66.5,53.7,2385,4,122,3.39,3.39,8.6,...,0,0,1,0,0,0,1,0,0,0
74,112.0,199.2,72.0,55.4,3715,8,304,3.80,3.35,8.0,...,0,0,0,1,0,0,0,0,1,0
168,98.4,176.2,65.6,52.0,2536,4,146,3.62,3.50,9.3,...,0,0,0,1,0,0,1,0,0,0
95,94.5,165.6,63.8,53.3,2028,4,97,3.15,3.29,9.4,...,0,0,1,0,0,0,1,0,0,0
111,107.9,186.7,68.4,56.7,3075,4,120,3.46,2.19,8.4,...,1,0,0,1,0,1,0,0,0,0
169,98.4,176.2,65.6,52.0,2551,4,146,3.62,3.50,9.3,...,0,0,0,1,0,0,1,0,0,0
75,102.7,178.4,68.0,54.8,2910,4,140,3.78,3.12,8.0,...,0,0,0,1,0,0,1,0,0,0
149,96.9,173.6,65.4,54.9,2650,4,108,3.62,2.64,7.7,...,0,1,0,0,0,0,0,1,0,0
0,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,...,0,0,0,1,0,0,0,0,0,0
109,114.2,198.9,68.4,58.7,3230,4,120,3.46,3.19,8.4,...,0,1,0,1,0,1,0,0,0,0
22,93.7,157.3,63.8,50.8,1876,4,90,2.97,3.23,9.4,...,0,0,1,0,0,0,1,0,0,0
165,94.5,168.7,64.0,52.6,2265,4,98,3.24,3.08,9.4,...,1,0,0,1,0,0,0,0,0,0
114,114.2,198.9,68.4,58.7,3485,4,152,3.70,3.52,21.0,...,0,1,0,1,0,1,0,0,0,0
147,97.0,173.5,65.4,53.0,2455,4,108,3.62,2.64,9.0,...,0,1,1,0,0,0,0,1,0,0
119,93.7,157.3,63.8,50.8,2128,4,98,3.03,3.39,7.6,...,0,0,1,0,0,0,1,0,0,0

In [48]:
Y_train = train.price
X_train = train.drop(['price'], axis = 1)

In [49]:
Y_test = test.price
X_test = test.drop(['price'], axis = 1)

<p>7) Train and execute your model</p>
<ol style = "list-style-type: lower-alpha;">
    <li>Create the linear regression object</li>
    <li>Train the model using the training sets</li>
    <li>Make predictions using the testing set </li>
 </ol>

In [50]:
lrm = linear_model.LinearRegression()

In [51]:
lrm.fit(X_train, Y_train)

LinearRegression()

In [52]:
predicted_price = lrm.predict(X_test)

<p>8) Assess the performance of your model</p>
<ol style = "list-style-type: lower-alpha;">
    <li>Print the R-Squared of your model</li>
    <li>print the comparison between the prediction of the model and the actual data </li>
</ol>

In [53]:
r_squared = r2_score(Y_test, predicted_price)

In [54]:
print(r_squared)

0.8756875005521769

In [61]:
actual_data = np.array(Y_test)

for i in range(len(predicted_price)):
    actual = actual_data[i]
    predicted = predicted_price[i]
    explained = ((actual_data[i] - predicted_price[i]) / actual_data[i]) * 100
    
    
    print(f'Actual value ${actual:.2f}, Predicted value ${predicted:.2f} (%{explained:.2f})')

Actual value $9233.00, Predicted value $7803.25 (%15.49)
Actual value $12290.00, Predicted value $9931.70 (%19.19)
Actual value $8495.00, Predicted value $10521.26 (%-23.85)
Actual value $13200.00, Predicted value $18642.25 (%-41.23)
Actual value $18344.00, Predicted value $13790.79 (%24.82)
Actual value $32250.00, Predicted value $33151.19 (%-2.79)
Actual value $9258.00, Predicted value $7224.27 (%21.97)
Actual value $15510.00, Predicted value $12771.25 (%17.66)
Actual value $31600.00, Predicted value $28841.13 (%8.73)
Actual value $16845.00, Predicted value $18089.68 (%-7.39)
Actual value $13950.00, Predicted value $8334.53 (%40.25)
Actual value $7295.00, Predicted value $6733.39 (%7.70)
Actual value $9960.00, Predicted value $9721.97 (%2.39)
Actual value $8499.00, Predicted value $8872.71 (%-4.40)
Actual value $10245.00, Predicted value $11695.55 (%-14.16)
Actual value $7349.00, Predicted value $4024.99 (%45.23)
Actual value $9279.00, Predicted value $10507.35 (%-13.24)
Actual value $5348.00, Predicted value $7543.63 (%-41.06)
Actual value $18399.00, Predicted value $17061.18 (%7.27)
Actual value $8495.00, Predicted value $11695.55 (%-37.68)
Actual value $7099.00, Predicted value $11110.14 (%-56.50)
Actual value $14399.00, Predicted value $14633.11 (%-1.63)
Actual value $6575.00, Predicted value $7285.93 (%-10.81)
Actual value $8948.00, Predicted value $10341.00 (%-15.57)
Actual value $6295.00, Predicted value $6806.77 (%-8.13)
Actual value $22018.00, Predicted value $15384.75 (%30.13)
Actual value $8845.00, Predicted value $10672.89 (%-20.67)
Actual value $45400.00, Predicted value $37786.96 (%16.77)
Actual value $9639.00, Predicted value $12064.58 (%-25.16)
Actual value $7799.00, Predicted value $6012.17 (%22.91)
Actual value $15580.00, Predicted value $17677.46 (%-13.46)
Actual value $9989.00, Predicted value $12210.72 (%-22.24)
Actual value $16503.00, Predicted value $19917.71 (%-20.69)
Actual value $11694.00, Predicted value $11219.29 (%4.06)
Actual value $13495.00, Predicted value $14447.25 (%-7.06)
Actual value $12440.00, Predicted value $12909.40 (%-3.77)
Actual value $6377.00, Predicted value $5388.88 (%15.50)
Actual value $9298.00, Predicted value $9923.05 (%-6.72)
Actual value $17075.00, Predicted value $16667.12 (%2.39)
Actual value $10198.00, Predicted value $7789.87 (%23.61)
Actual value $7957.00, Predicted value $6928.43 (%12.93)